/* =============================================== */

.mobile {
  position: relative;
  width: 30%;
  height: 99.7vh;

  margin: auto;
  background-image: url(../assests/images/award_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.stage {
  width: 100%;
  height: 100px;
  position: absolute;
}

.stage img {
  width: 100%;
}

.girl {
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.girl img {
  width: 40%;
  margin-bottom: 73px;
}

.casting {
  width: 15% !important;
  margin-bottom: 100px !important;
}

@media only screen and (max-width: 992px) {
  .mobile {
    width: 99.9vw;
    height: 100vh;
  }
  .girl img {
    width: 25%;
    margin-bottom: 35px;
  }
}
@media only screen and (max-width: 768px) {
  .mobile {
    width: 99.9vw;
    height: 100vh;
  }
  .girl img {
    width: 20%;
    margin-bottom: 55px;
  }
}
@media only screen and (max-width: 425px) {
  .mobile {
    width: 99.9vw;
    height: 100vh;
  }
  .girl img {
    width: 30%;
    margin-bottom: 75px;
  }
}
@media only screen and (max-width: 280px) {
  .stage {
    width: 100%;
  }
}
